In [57]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
os.getcwd()

'C:\\Users\\vibhu\\OneDrive\\Documents\\env\\projects\\website'

In [3]:
file_path1=os.path.join('diabetes.csv')
df1=pd.read_csv(file_path1)
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [68]:
class DiabetesPredictor():
    def __init__(self, df):
        self.df = df
        self.x_train = None
        self.y_train = None
        self.x_val = None
        self.y_val = None
        self.model = None
        
    def prepare_data(self):
        x = self.df.drop('Outcome', axis=1)
        y = self.df.iloc[:, -1:]
        self.x_train, self.x_val, self.y_train, self.y_val = train_test_split(x, y, test_size=0.15)
        
    def train_model(self):
        self.model = LogisticRegression()
        self.model.fit(self.x_train, self.y_train)
        
    def predict(self, input_data):
        return self.model.predict(input_data)

In [49]:
file_path2=os.path.join('HepatitisCdata.csv')
df2=pd.read_csv(file_path2, index_col=0)
df2.head()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [50]:
print(df2.Category.unique())
print(df2.isnull().sum())

['0=Blood Donor' '0s=suspect Blood Donor' '1=Hepatitis' '2=Fibrosis'
 '3=Cirrhosis']
Category     0
Age          0
Sex          0
ALB          1
ALP         18
ALT          1
AST          0
BIL          0
CHE          0
CHOL        10
CREA         0
GGT          0
PROT         1
dtype: int64

In [52]:
df2['ALP']=df2['ALP'].fillna(df2['ALP'].mean())
df2['CHOL']=df2['CHOL'].fillna(df2['CHOL'].mean())
df2['ALB']=df2['ALB'].fillna(df2['ALB'].mean())
df2['ALT']=df2['ALT'].fillna(df2['ALT'].mean())
df2['PROT']=df2['PROT'].fillna(df2['PROT'].mean())
print(df2.isnull().sum())

Category    0
Age         0
Sex         0
ALB         0
ALP         0
ALT         0
AST         0
BIL         0
CHE         0
CHOL        0
CREA        0
GGT         0
PROT        0
dtype: int64

In [53]:
df2['Category'].mask(df2['Category'] !='1=Hepatitis' ,'0', inplace=True)
df2['Category'].mask(df2['Category'] =='1=Hepatitis' ,'1', inplace=True)
df2.Category.unique()
df2.head()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
1,0,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
2,0,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
3,0,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
4,0,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
5,0,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [54]:
class Hepatitis():
    def __init__(self, df):
        self.df = df
        self.x_train = None
        self.y_train = None
        self.x_val = None
        self.y_val = None
        self.model = None
    def prepare_data(self):
      x = self.df.drop('Category', axis=1)
      y = self.df.iloc[:, 0]
      self.x_train, self.x_val, self.y_train, self.y_val = train_test_split(x, y, test_size=0.15)
        
    def train_model(self):
        self.model = LogisticRegression()
        self.model.fit(self.x_train, self.y_train)
        
    def predict(self, input_data):
        return self.model.predict(input_data)

In [61]:
file_path3=os.path.join('cardio_train.csv')
df3=pd.read_csv(file_path3, delimiter = ";",index_col=0)
df3.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [62]:
print(df2.isnull().sum())
df3.age=df3.age/365
df3.head()

Category    0
Age         0
Sex         0
ALB         0
ALP         0
ALT         0
AST         0
BIL         0
CHE         0
CHOL        0
CREA        0
GGT         0
PROT        0
dtype: int64

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,47.873973,1,156,56.0,100,60,1,1,0,0,0,0

In [63]:
class Cardio():
    def __init__(self, df):
        self.df = df
        self.x_train = None
        self.y_train = None
        self.x_val = None
        self.y_val = None
        self.model = None
    def prepare_data(self):
      x = self.df.drop('cardio', axis=1)
      y = self.df.iloc[:,-1:]
      self.x_train, self.x_val, self.y_train, self.y_val = train_test_split(x, y, test_size=0.15)
        
    def train_model(self):
        self.model = LogisticRegression()
        self.model.fit(self.x_train, self.y_train)
        
    def predict(self, input_data):
        return self.model.predict(input_data)

In [64]:
file_path4=os.path.join('kidney.csv')
df4=pd.read_csv(file_path4)
df4.head()

,Bp,Sg,Al,Su,Rbc,Bu,Sc,Sod,Pot,Hemo,Wbcc,Rbcc,Htn,Class
0,80.0,1.020,1.0,0.0,1.0,36.0,1.2,137.53,4.63,15.4,7800.0,5.20,1.0,1
1,50.0,1.020,4.0,0.0,1.0,18.0,0.8,137.53,4.63,11.3,6000.0,4.71,0.0,1
2,80.0,1.010,2.0,3.0,1.0,53.0,1.8,137.53,4.63,9.6,7500.0,4.71,0.0,1
3,70.0,1.005,4.0,0.0,1.0,56.0,3.8,111.00,2.50,11.2,6700.0,3.90,1.0,1
4,80.0,1.010,2.0,0.0,1.0,26.0,1.4,137.53,4.63,11.6,7300.0,4.60,0.0,1

In [65]:
df4.isnull().sum()

Bp       0
Sg       0
Al       0
Su       0
Rbc      0
Bu       0
Sc       0
Sod      0
Pot      0
Hemo     0
Wbcc     0
Rbcc     0
Htn      0
Class    0
dtype: int64

In [1]:
class Kidney():
    def __init__(self, df):
        self.df = df
        self.x_train = None
        self.y_train = None
        self.x_val = None
        self.y_val = None
        self.model = None
    def prepare_data(self):
      x = self.df.drop('Class', axis=1)
      y = self.df.iloc[:,-1:]
      self.x_train, self.x_val, self.y_train, self.y_val = train_test_split(x, y, test_size=0.15)
        
    def train_model(self):
        self.model = LogisticRegression()
        self.model.fit(self.x_train, self.y_train)
        
    def predict(self, input_data):
        return self.model.predict(input_data)

In [3]:
import tkinter as tk

window = tk.Tk()
window.title("SUI")

case=int(input('''Enter 1 for diabeties 
2 for Hepatitis
3 for cardio
4 for kidney:'''))

match case:
    case 1:
        Pregnancies_label = tk.Label(window, text="No. of Pregnancy")
        Pregnancies_label.grid(row=0, column=0)
        Pregnancies_label = tk.Entry(window)
        Pregnancies_label.grid(row=0, column=1)
        
        glucose_label = tk.Label(window, text="Glucose")
        glucose_label.grid(row=1, column=0)
        glucose_input = tk.Entry(window)
        glucose_input.grid(row=1, column=1)
        
        blood_pressure_label = tk.Label(window, text="Blood Pressure")
        blood_pressure_label.grid(row=2, column=0)
        blood_pressure_input = tk.Entry(window)
        blood_pressure_input.grid(row=2, column=1)
        
        skin_thickness_label = tk.Label(window, text="Skin Thickness")
        skin_thickness_label.grid(row=3, column=0)
        skin_thickness_input = tk.Entry(window)
        skin_thickness_input.grid(row=3, column=1)
        
        insulin_label = tk.Label(window, text="Insulin")
        insulin_label.grid(row=4, column=0)
        insulin_input = tk.Entry(window)
        insulin_input.grid(row=4, column=1)
            
        bmi_label = tk.Label(window, text="BMI")
        bmi_label.grid(row=5, column=0)
        bmi_input = tk.Entry(window)
        bmi_input.grid(row=5, column=1)
        
        diabetes_percentage_label = tk.Label(window, text="Diabetes Percentage")
        diabetes_percentage_label.grid(row=6, column=0)
        diabetes_percentage_input = tk.Entry(window)
        diabetes_percentage_input.grid(row=6, column=1)
        
        age_label = tk.Label(window, text="Age")
        age_label.grid(row=7, column=0)
        age_input = tk.Entry(window)
        age_input.grid(row=7, column=1)
        
    case 2:
        age_label = tk.Label(window, text="Age")
        age_label.grid(row=1, column=0)
        age_input = tk.Entry(window)
        age_input.grid(row=1, column=1)
    
        sex_label = tk.Label(window, text="Sex")
        sex_label.grid(row=2, column=0)
        sex_input = tk.Entry(window)
        sex_input.grid(row=2, column=1)
    
        alb_label = tk.Label(window, text="Albumin Blood Test")
        alb_label.grid(row=3, column=0)
        alb_input = tk.Entry(window)
        alb_input.grid(row=3, column=1)
    
        alp_label = tk.Label(window, text="Alkaline Phosphatase")
        alp_label.grid(row=4, column=0)
        alp_input = tk.Entry(window)
        alp_input.grid(row=4, column=1)
    
        alt_label = tk.Label(window, text="Alanine Transaminase")
        alt_label.grid(row=5, column=0)
        alt_input = tk.Entry(window)
        alt_input.grid(row=5, column=1)
    
        ast_label = tk.Label(window, text="Aspartate Transaminase")
        ast_label.grid(row=6, column=0)
        ast_input = tk.Entry(window)
        ast_input.grid(row=6, column=1)
    
        bil_label = tk.Label(window, text="Bilirubin")
        bil_label.grid(row=7, column=0)
        bil_input = tk.Entry(window)
        bil_input.grid(row=7, column=1)
    
        che_label = tk.Label(window, text="Acetylcholinesterase")
        che_label.grid(row=8, column=0)
        che_input = tk.Entry(window)
        che_input.grid(row=8, column=1)
    
        chol_label = tk.Label(window, text="Cholesterol")
        chol_label.grid(row=9, column=0)
        chol_input = tk.Entry(window)
        chol_input.grid(row=9, column=1)
    
        crea_label = tk.Label(window, text="Creatinine")
        crea_label.grid(row=10, column=0)
        crea_input = tk.Entry(window)
        crea_input.grid(row=10, column=1)
    
        ggt_label = tk.Label(window, text="Gamma-glutamyltransferase")
        ggt_label.grid(row=11, column=0)
        ggt_input = tk.Entry(window)
        ggt_input.grid(row=11, column=1)
    
        prot_label = tk.Label(window, text="Protein")
        prot_label.grid(row=12, column=0)
        prot_input = tk.Entry(window)
        prot_input.grid(row=12, column=1)
        
    case 3:
        age_label = tk.Label(window, text="Age")
        age_label.grid(row=1, column=0)
        age_input = tk.Entry(window)
        age_input.grid(row=1, column=1)
        
        gender_label = tk.Label(window, text="Gender")
        gender_label.grid(row=1, column=0)

        height_label = tk.Label(window, text="Height")
        height_label.grid(row=2, column=0)

        weight_label = tk.Label(window, text="Weight")
        weight_label.grid(row=3, column=0)

        ap_hi_label = tk.Label(window, text="Systolic blood pressure")
        ap_hi_label.grid(row=4, column=0)

        ap_lo_label = tk.Label(window, text="Diastolic blood pressure")
        ap_lo_label.grid(row=5, column=0)

        cholesterol_label = tk.Label(window, text="Cholesterol level")
        cholesterol_label.grid(row=6, column=0)

        gluc_label = tk.Label(window, text="Glucose level")
        gluc_label.grid(row=7, column=0)

        smoke_label = tk.Label(window, text="Do you smoke? (0 for no, 1 for yes)")
        smoke_label.grid(row=8, column=0)

        alco_label = tk.Label(window, text="Do you drink alcohol? (0 for no, 1 for yes)")
        alco_label.grid(row=9, column=0)

        active_label = tk.Label(window, text="Are you physically active? (0 for no, 1 for yes)")
        active_label.grid(row=10, column=0)

        # create input fields
        gender_input = tk.Entry(window)
        gender_input.grid(row=1, column=1)

        height_input = tk.Entry(window)
        height_input.grid(row=2, column=1)

        weight_input = tk.Entry(window)
        weight_input.grid(row=3, column=1)

        ap_hi_input = tk.Entry(window)
        ap_hi_input.grid(row=4, column=1)

        ap_lo_input = tk.Entry(window)
        ap_lo_input.grid(row=5, column=1)

        cholesterol_input = tk.Entry(window)
        cholesterol_input.grid(row=6, column=1)

        gluc_input = tk.Entry(window)
        gluc_input.grid(row=7, column=1)

        smoke_input = tk.Entry(window)
        smoke_input.grid(row=8, column=1)

        alco_input = tk.Entry(window)
        alco_input.grid(row=9, column=1)

        active_input = tk.Entry(window)
        active_input.grid(row=10, column=1)
        
    case 4:
        bp_label = tk.Label(window, text="Blood Pressure")
        bp_label.grid(row=2, column=0)
        bp_input = tk.Entry(window)
        bp_input.grid(row=2, column=1)

        sg_label = tk.Label(window, text="Specific Gravity")
        sg_label.grid(row=3, column=0)
        sg_input = tk.Entry(window)
        sg_input.grid(row=3, column=1)

        alb_label = tk.Label(window, text="Albumin")
        alb_label.grid(row=4, column=0)
        alb_input = tk.Entry(window)
        alb_input.grid(row=4, column=1)

        su_label = tk.Label(window, text="Sugar")
        su_label.grid(row=5, column=0)
        su_input = tk.Entry(window)
        su_input.grid(row=5, column=1)

        rbc_label = tk.Label(window, text="Red Blood Cells")
        rbc_label.grid(row=6, column=0)
        rbc_input = tk.Entry(window)
        rbc_input.grid(row=6, column=1)

        bu_label = tk.Label(window, text="Blood Urea")
        bu_label.grid(row=7, column=0)
        bu_input = tk.Entry(window)
        bu_input.grid(row=7, column=1)

        sc_label = tk.Label(window, text="Serum Creatinine")
        sc_label.grid(row=8, column=0)
        sc_input = tk.Entry(window)
        sc_input.grid(row=8, column=1)

        sod_label = tk.Label(window, text="Sodium")
        sod_label.grid(row=9, column=0)
        sod_input = tk.Entry(window)
        sod_input.grid(row=9, column=1)

        pot_label = tk.Label(window, text="Potassium")
        pot_label.grid(row=10, column=0)
        pot_input = tk.Entry(window)
        pot_input.grid(row=10, column=1)

        hemo_label = tk.Label(window, text="Hemoglobin")
        hemo_label.grid(row=11, column=0)
        hemo_input = tk.Entry(window)
        hemo_input.grid(row=11, column=1)

        wbcc_label = tk.Label(window, text="White Blood Cell Count")
        wbcc_label.grid(row=12, column=0)
        wbcc_input = tk.Entry(window)
        wbcc_input.grid(row=12, column=1)

        rbcc_label = tk.Label(window, text="Red Blood Cell Count")
        rbcc_label.grid(row=13, column=0)
        rbcc_input = tk.Entry(window)
        rbcc_input.grid(row=13, column=1)

        htn_label = tk.Label(window, text="Hypertension")
        htn_label.grid(row=14, column=0)
        htn_input = tk.Entry(window)
        htn_input.grid(row=14, column=1)
    
    case _:
        print('Get checked for dyslexia please')
            
def on_predict_click():
    if case == 1:
        pregnancy = float(Pregnancies_label.get())
        glucose = float(glucose_input.get())
        blood_pressure = float(blood_pressure_input.get())
        skin_thickness = float(skin_thickness_input.get())
        insulin = float(insulin_input.get())
        bmi = float(bmi_input.get())
        diabetes_percentage = float(diabetes_percentage_input.get())
        age = int(age_input.get())

        try:
            prediction = predict_diabetes(pregnancy, glucose, blood_pressure, skin_thickness, insulin, bmi, diabetes_percentage, age)
        except:
            print("Error: Model not found")

    elif case == 2:
        age = float(age_input.get())
        sex = float(sex_input.get())
        alb = float(alb_input.get())
        alp = float(alp_input.get())
        alt = float(alt_input.get())
        ast = float(ast_input.get())
        bil = float(bil_input.get())
        che = float(che_input.get())
        chol = float(chol_input.get())
        crea = float(crea_input.get())
        ggt = float(ggt_input.get())
        prot = float(prot_input.get())

        try:
            prediction = predict_hepatitis(age, sex, alb, alp, alt, ast, bil, che, chol, crea, ggt, prot)
        except:
            print("Error: Model not found")
            
    elif case == 3:
        age = float(age_input.get())
        gender = float(gender_input.get())
        height = float(height_input.get())
        weight = float(weight_input.get())
        ap_hi = float(ap_hi_input.get())
        ap_lo = float(ap_lo_input.get())
        cholesterol = float(cholesterol_input.get())
        gluc = float(gluc_input.get())
        smoke = float(smoke_input.get())
        alco = float(alco_input.get())
        active = float(active_input.get())
        
        try:
            prediction = predict_cardio(age, gender, alb, alp, alt, ast, bil, che, chol, crea, ggt, prot)
        except:
            print("Error: Model not found")
            
    elif case == 4:
        bp = float(bp_input.get())
        sg = float(sg_input.get())
        alb = float(alb_input.get())
        su = float(su_input.get())
        rbc = float(rbc_input.get())
        bu = float(bu_input.get())
        sc = float(sc_input.get())
        sod = float(sod_input.get())
        pot = float(pot_input.get())
        hemo = float(hemo_input.get())
        wbcc = float(wbcc_input.get())
        rbcc = float(rbcc_input.get())
        htn = float(htn_input.get())
        
        try:
            prediction = predict_cardio(age, gender, alb, alp, alt, ast, bil, che, chol, crea, ggt, prot)
        except:
            print("Error: Model not found")
            
    else:
        print('Doctor')
        
if case==1:
    predict_button = tk.Button(window, text="Predict", command=on_predict_click)
    predict_button.grid(row=8, column=0, columnspan=2)
    predict_label = tk.Label(window, text="Prediction is")
    predict_label.grid(row=9, column=0)
    predict_label.configure(text=prediction)

elif case==2:
    predict_button = tk.Button(window, text="Predict", command=on_predict_click)
    predict_button.grid(row=13, column=0, columnspan=2)
    predict_label = tk.Label(window, text="Prediction is")
    predict_label.grid(row=14, column=0)
    predict_label.configure(text=prediction)
elif case==3:
    predict_button = tk.Button(window, text="Predict", command=on_predict_click)
    predict_button.grid(row=11, column=0, columnspan=2)
    predict_label = tk.Label(window, text="Prediction is")
    predict_label.grid(row=12, column=0)
    predict_label.configure(text=prediction)
elif case==4:
    predict_button = tk.Button(window, text="Predict", command=on_predict_click)
    predict_button.grid(row=15, column=0, columnspan=2)
    predict_label = tk.Label(window, text="Prediction is")
    predict_label.grid(row=16, column=0)
    predict_label.configure(text=prediction)
else:
    print("Please")
    
window.mainloop()

Enter 1 for diabeties
2 for Hepatitis
3 for cardio
4 for kidney: 1

NameError: name 'prediction' is not defined